<div ng-controller="HomeBannerCtrl as banner">
  <div class="bumped-up space-after hide-for-medium-down">
    <div class="banner-container text-center">
      <div class="text-center homepage-banner">
        <%= image_tag "HarmanSkylineImage.png" %>
        <h1><%=raw SiteSetting.value("homepage-main-headline") %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="large-8 large-offset-2 columns text-center">
      <h2 class="space-after"><%=raw SiteSetting.value("homepage-vertical-markets-headline") %></h2>

        <% @vertical_markets.each do |vm| %>
          <%= link_to vm, class: "vertical-market-icon" do %>
            <%= image_tag vm.banner.url(:small) %>
            <h5><%= vm.name %></h5>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="row">
    <hr/>
  </div>

  <div class="row">
    <div class="large-10 large-offset-1 columns">

      <h2 class="text-center space-after"><%=raw SiteSetting.value("homepage-brands-headline") %></h2>
      <div class="text-center">
        <% all_brands.each do |brand| %>
          <%= link_to brand, class: 'brand-circle' do %>
            <% if brand.white_logo.present? %>
              <%= image_tag brand.white_logo.url(:circle), alt: brand.name %>
            <% else %>
              <%= brand.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

