<script type="text/ng-template" id="venue_popup">
  <div class="triangle"></div>
  <div class="ns-popover-tooltip">
    <div class="row collapse">
      <div class="large-11 small-11 columns">
        <h5 class="subheader">{{ venue.name }}</h5>
      </div>
      <div class="large-1 small-1 columns text-right">
        <a ng-click="hidePopover()"><%= image_tag('close.png', alt: "X") %></a>
      </div>
    </div>
    <p>{{ venue.description }}</p>
  </div>
</script>

<div ng-controller="HomepageBannerCtrl as banner" locale="<%= I18n.locale %>">
  <div class="bumped-up">
    <div class="banner-container text-center">
      <div class="text-center homepage-banner">
        <%= image_tag "HarmanSkylineImage.jpg" %>
        <h1><%=raw format_headline SiteSetting.value("homepage-main-headline") %></h1>
        <img src="<%= asset_path('H-Pointer.png') %>" alt="[H]" class="help-icon animated bounceIn hide-for-small-down" ns-popover
          ng-repeat="venue in venues"
          vid="{{ venue.id }}"
          ng-style="{'left': venue.left, 'top': venue.top, '-moz-animation-delay': venue.id*2/5+'s', '-animation-delay': venue.id*2/5+'s', '-webkit-animation-delay': venue.id*2/5+'s'}"
          ns-popover-modal="venue-popups"
          ns-popover-theme="ns-popover-tooltip-theme"
          ns-popover-template="venue_popup"/>
      </div>
    </div>
  </div>
</div>

<div class="container main-container">
  <p>&nbsp;</p>
  <div class="row">
    <div class="small-12 columns">
      <div class="text-center">
        <h3>HARMAN <%= t( "professional_solutions").upcase %></h3>
      </div>
      <div class="row">
        <div class="medium-2 hide-for-small columns">&nbsp;</div>
        <% @vertical_markets.each do |vm| %>
          <div class="medium-4 small-12 columns">
            <%= link_to vm do %>
              <%= image_tag vm.banner.url(:medium_gray) %>
              <h5><%= vm.name %> <span class="arrow">&gt;</span></h5>
            <% end %>
          </div>
        <% end %>
        <div class="medium-2 hide-for-small columns">&nbsp;</div>
      </div>
    </div>
  </div>

</div>

<div class="row collapse">
  <div class="small-12 columns">
    <div class="ecomm-strip">
      <div class="row">
        <div class="large-6 large-offset-6 medium-6 medium-offset-6 small-10 small-offset-1 columns">
          <h3><%= raw format_headline SiteSetting.value("homepage-ecommerce-headline") %></h3>
          <p><%= raw SiteSetting.value("homepage-ecommerce-text") %></p>
          <p><%= link_to t('home_page.shop_now'), "http://shop.harmanpro.com/", target: "_blank", class: "small radius button" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if SiteSetting.set?("homepage-roadblock") %>
  <div id="roadblock" class="reveal-modal medium" data-reveal aria-labelledby="Offer" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <%= raw SiteSetting.value("homepage-roadblock") %>
  </div>
<% end %>


