<script type="text/ng-template" id="venue_popup">
  <div class="triangle"></div>
  <div class="ns-popover-tooltip">
    <div class="row collapse">
      <div class="large-11 small-11 columns">
        <h5 class="subheader">{{ venue.name }}</h5>
      </div>
      <div class="large-1 small-1 columns text-right">
        <a ng-click="hidePopover()"><%= image_tag('close.png', alt: "X") %></a>
      </div>
    </div>
    <p>{{ venue.description }}</p>
  </div>
</script>

<div ng-controller="HomepageBannerCtrl as banner">
  <div class="bumped-up hide-for-small-down">
    <div class="banner-container text-center">
      <div class="text-center homepage-banner">
        <%= image_tag "HarmanSkylineImage.jpg" %>
        <h1><%=raw format_headline SiteSetting.value("homepage-main-headline") %></h1>
        <img src="<%= asset_path('H-Pointer.png') %>" alt="[H]" class="help-icon animated infinite bounce" ns-popover
          ng-repeat="venue in venues"
          vid="{{ venue.id }}"
          ng-style="{'left': venue.left, 'top': venue.top, '-moz-animation-delay': venue.id*2/5+'s', '-animation-delay': venue.id*2/5+'s', '-webkit-animation-delay': venue.id*2/5+'s'}"
          ns-popover-modal="venue-popups"
          ns-popover-theme="ns-popover-tooltip-theme"
          ns-popover-timeout="7"
          ns-popover-template="venue_popup"/>
      </div>
    </div>
  </div>
</div>

<ul class="homepage-vertical-market large-block-grid-<%= @vertical_markets.length %> medium-block-grid-<%= @vertical_markets.length %> small-block-grid-1">
  <% @vertical_markets.each do |vm| %>
    <li>
      <%= link_to vm do %>
        <%= image_tag vm.banner.url(:medium) %>
        <h5><%= vm.name %> <span class="arrow">&gt;</span></h5>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="container main-container">

  <div class="row">
    <div class="large-10 large-offset-1 columns">

      <h2 class="text-center space-after"><%=raw format_headline SiteSetting.value("homepage-brands-headline") %></h2>
      <div class="text-center">
        <% all_brands.each do |brand| %>
          <%= link_to brand, class: 'brand-circle' do %>
            <% if brand.white_logo.present? %>
              <%= image_tag brand.white_logo.url(:circle), alt: brand.name %>
            <% else %>
              <%= brand.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

