<%= content_for :title do %>HARMAN Professional Training<% end %>
<%= content_for :description do %>Training links for HARMAN Professional audio, video, lighting and control brands.<% end %>

<div class="bumped-up">
  <div class="banner-container">
    <h1><%= image_tag "training_header.jpg", alt: "HARMAN Professional Training" %></h1>
  </div>
</div>

<div class="container main-container padded">
  <div class="row">
    <div class="large-8 large-offset-2 medium-8 medium-offset-2 columns" data-equalizer="brands">
      <p class="text-center"><i>click for training from these brands:</i></p>
      <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1">
        <% all_brands.each do |brand| %>
          <% if brand.training_url.present? %>
            <li>
              <%= link_to brand.training_url, target: "_blank" do %>
                <div class="panel text-center" data-equalizer-watch="brands">
                  <div class="brand-logo">
                    <% if brand.logo.present? || ENV['show_placeholders'] == "true" %>
                      <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
                    <% end %>
                  </div>
                  <p><%= brand.name %> Training</p>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
