<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-7 small-12 columns">
    <h3><%= @available_locale.name %> News</h3>
    <%= link_to new_cms_available_locale_news_article_path(@available_locale),
      class: "tiny success button radius" do %>
      <%= fa_icon "plus" %>
      Create New Article
    <% end %>
    <% if @news_articles.count > 0 %>
      <table width="100%">
        <tr>
          <th>Title <i>(click to edit article)</i></th>
          <th>Public Link <i>(click to view article)</i></th>
        </tr>
        <% @news_articles.order(:post_on).reverse.each do |news_article| %>
          <tr>
            <td><%= link_to news_article.title, edit_cms_available_locale_news_article_path(@available_locale, news_article) %></td>
            <td>
              <%= link_to(news_article_url(news_article, locale: news_article.locale.key),
                          news_article_url(news_article, locale: news_article.locale.key),
                         target: "_blank") %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="medium-3 small-12 columns">
    <div class="panel">
      <h6>What is it?</h6>
      <p>A news article or press release highlights
      notable events, installations, performances, etc.
      featuring HARMAN products and services.</p>
      <p>
      <%= fa_icon "info-circle" %>
      Unlike other content types on this site, news articles
      <u>only</u> appear on the site corresponding to
      the locale where they were created.</p>
    </div>
  </div>
</div>
