<div class="row">
  <div class="large-12 columns">

    <h1>API Test : <%= @product["brand"]["name"] %> <%= @product["name"] %></h1>

    <br/>
    <p>
      <%= image_tag @product["images"].first["image"]["large"] %>
    </p>

    <hr/>

    <div class="row">
      <div class="large-6 medium-6 columns">

        <h3>Documentation</h3>

        <ul>
          <% @product["documents"].each do |doc| %>
            <li><%= link_to doc["document"]["name"], doc["document"]["url"] %>
              (<%= number_to_human_size(doc["document"]["size"]) %>)
            </li>
          <% end %>
        </ul>
      </div>

      <div class="large-6 medium-6 columns">

        <h3>Software</h3>

        <ul>
          <% @product["software"].each do |software| %>
            <li><%= link_to software["software"]["name"], software["software"]["url"] %>
              <% if software["software"]["size"].to_i > 0 %>
                (<%= number_to_human_size(software["software"]["size"].to_i) %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


    <hr/>

    <h3>Product Description</h3>
    <%=raw @product["description"] %>


  </div>
</div>

