<%= content_for :title do %>Consultant Resources<% end %>
<%= content_for :description do %>Technical resources, brand contact information and other resources for professional audio consultants.<% end %>

<div class="bumped-up">
  <div class="banner-container">
    <h1><%= image_tag "consultants_header.jpg", alt: "Consultant Resources" %></h1>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="large-10 large-offset-1 columns">

      <div><%=raw textilize SiteSetting.value("consultant-portal-welcome-paragraph") %></div>
      <hr/>

      <h3>Technical Product Resources</h3>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <br/>
          <noscript>
            <p>You must have javascript enabled in your browser in order for this feature to work...</p>
          </noscript>
          <% @brands.each do |brand| %>
            <% if brand.api_url.present? %>
              <h5><%= brand.name %> Products</h5>
              <form data-brand-id="<%= brand.friendly_id %>" class="product_selector">
                <input type="hidden" name="brand_id" value="<%= brand.friendly_id %>">
                <select name="product_id">
                  <option class="loading">Loading...</option>
                </select>
              </form>
            <% end %>
          <% end %>
          <h5>Software</h5>
          <form id='software-menu'>
            <select name='software_id'>
              <option class="loading">Loading...</option>
            </select>
          </form>
          <% @brands.each do |brand| %>
            <% if brand.downloads_page_url.present? && brand.api_url.blank? %>
              <h5><%= brand.name %> Technical Resources</h5>
              <%= link_to "Browse on #{brand.name} website...", brand.downloads_page_url, target: "_blank" %>
            <% end %>
          <% end %>
        </div>
        <div class="large-6 medium-6 columns">
          <div id="product-content" class="white-callout panel" data-loading="<%= image_path 'ajax-loader.gif' %>">
            <div class="placeholder">
              <p><i>select a product<br/> to retrieve resources </i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 columns">
          <hr/>
          <h3>Consultant Contacts</h3>
          <br/>
          <div class="row">
            <div class="large-12 medium-12 columns" data-equalizer="contacts">
              <ul class="large-block-grid-3 medium-block-grid-3">
                <% @brands_with_contact_info.each do |brand| %>
                  <li>
                    <div class="panel" data-equalizer-watch="contacts">
                      <% if brand.logo.present? || ENV['show_placeholders'] == "true" %>
                        <div class="brand-logo">
                          <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
                        </div>
                      <% end %>

                      <%=raw auto_link textilize brand.contact_info_for_consultants %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <% if SiteSetting.exists?(name: "consultant-portal-loan-program-paragraph") %>
        <div class="row">
          <div class="large-12 medium-12 columns">
            <hr/>
            <h3><%= SiteSetting.value("consultant-portal-loan-program-headline") %></h3>
            <br/>
            <div>
              <%= raw auto_link textilize SiteSetting.value("consultant-portal-loan-program-paragraph") %>
            </div>
            <%= link_to "Consignment Form", asset_path("consigment-template.xlsx"), class: "tiny radius button" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
