<%= content_for :title do %>Consultant Portal<% end %>
<div class="bumped-up">
  <div class="banner-container">
    <%= image_tag "consultants_header.jpg" %>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <div class="text-center">
        <h1>Consultant Resources</h1>
      </div>

      <div><%=raw textilize SiteSetting.value("consultant-portal-welcome-paragraph") %></div>
      <hr/>

      <h3>Technical Product Resources</h3>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <br/>
          <noscript>
            <p>You must have javascript enabled in your browser in order for this feature to work...</p>
          </noscript>
          <% @brands.each do |brand| %>
            <h5><%= brand.name %> Products</h5>
            <%#= link_to "#{brand.name} Technical Downloads", brand.downloads_page_url, target: "_blank" %>
            <form data-brand-id="<%= brand.friendly_id %>" class="product_selector">
              <input type="hidden" name="brand_id" value="<%= brand.friendly_id %>">
              <select name="product_id">
                <option class="loading">Loading...</option>
              </select>
            </form>
          <% end %>
        </div>
        <div class="large-6 medium-6 columns">
          <div id="product-content" class="callout panel" data-loading="<%= image_path 'ajax-loader.gif' %>">
            <div class="placeholder">
              <p><i>select a product<br/> to retrieve resources </i></p>
            </div>
          </div>
          <!--
          <h3>Software<h3>
          <%# @brands.each do |brand| %>
            <ul class='software_list' data-brand-id="<%#= brand.friendly_id %>"></ul>
          <%# end %>
          -->
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 columns">
          <hr/>
          <h3>Consultant Contacts</h3>
          <br/>
          <div class="row">
            <div class="large-8 medium-8 columns" data-equalizer="contacts">
              <ul class="large-block-grid-2 medium-block-grid-2">
                <% @brands_with_contact_info.each do |brand| %>
                  <li>
                    <div class="panel" data-equalizer-watch="contacts">
                      <div class="brand-logo">
                        <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
                      </div>

                      <%=raw auto_link textilize brand.contact_info_for_consultants %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <div class="large-4 medium-4 columns">
            <% if SiteSetting.exists?(name: "harman_professional_consultant_contact_info") %>
                <div class="panel">
                  <div class="brand-logo">
                    <p><%= image_tag 'harman-logo.png', alt: "Harman Professional" %></p>
                  </div>
                  <%= raw auto_link textilize SiteSetting.value("harman_professional_consultant_contact_info") %>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
