<%= content_for :title do %><%= @landing_page.title %><% end %>
<%= content_for :description do %>
  <% if @landing_page.description.present? %>
    <%= @landing_page.description %>
  <% elsif @landing_page.subtitle.present? %>
    <%= @landing_page.subtitle %>
  <% else %>
    <%= @landing_page.title %>
  <% end %>
<% end %>

<%= content_for :header_code do %>
  <%= raw @landing_page.header_code %>
<% end %>

<%= content_for :footer_code do %>
  <%= raw @landing_page.footer_code %>
<% end %>

<div class="container main-container">
  <% if @landing_page.banner.present? %>
    <%= image_tag @landing_page.banner.url %>
  <% end %>

  <% unless @landing_page.hide_title? %>
    <div class="row">
      <div class="large-<%= 12 - @landing_page.side_column_width %> medium-12 columns">
        <h1 class="space-after"><%= @landing_page.title %></h1>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if @landing_page.left_content.present? %>
      <div class="medium-<%= @landing_page.side_column_width %> small-12 columns">
        <%= render_content(@landing_page, :left_content) %>
      </div>
    <% end %>

    <div class="medium-<%= @landing_page.main_content_width %> small-12 columns">
      <% if @landing_page.subtitle.present? %>
        <h4 class="subheader"><%= @landing_page.subtitle %></h4>
        <br/>
      <% end %>
      <%= render_content(@landing_page, :main_content) %>
    </div>

    <% if @landing_page.right_content.present? %>
      <div class="medium-<%= @landing_page.side_column_width %> small-12 columns">
        <%= render_content(@landing_page, :right_content) %>
      </div>
    <% end %>
  </div>

  <% if @landing_page.sub_content.present? %>
    <div class="row">
      <div class="small-12 columns">
        <div class="dot-above">
          <br/>
          <%= render_content(@landing_page, :sub_content) %>
        </div>
      </div>
    </div>
  <% end %>

</div>
