<%= simple_form_for [:cms, @available_locale, @brand] do |f| %>
  <div class="row">
    <div class="medium-6 small-12 columns text-center">
      <h5><%= @available_locale.name %></h5>
    </div>
    <div class="medium-6 small-12 columns text-center">
      <h5>Original</h5>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :description %>
    </div>
    <div class="medium-6 small-12 columns">
      <% Globalize.with_locale(I18n.default_locale) do %>
        <%= raw textilize @brand.description %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
      <%= f.submit 'Save Changes', class: 'medium button' %>
    </div>
  </div>

<% end %>
