<%= content_for :title do %>
  <%= t('site_name') %> <%= t('nav.news') %>
<% end %>
<%= content_for :description do %>
  <%= t('site_name') %> <%= t('nav.news') %>
<% end %>

<% if @featured_article && (@featured_article.news_photo.present? || ENV['show_placeholders'] == "true") %>
  <div class="bumped-up">
    <div class="banner-container">
      <%= link_to @featured_article do %>
        <h1><%= image_tag @featured_article.news_photo.url(:large), alt: "#{t('site_name')} #{t('nav.news')}" %></h1>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="medium-10 columns">
      <%# The single most recent article %>
      <% if @featured_article %>
        <h2><%= link_to @featured_article.title, @featured_article %></h2>
        <p><%= l @featured_article.post_on, format: :long %></p>
        <div><%= raw @featured_article.body %></div>
      <% end %>

      <%# The 10 other most recent %>
      <% if @news_articles.count > 0 %>
        <% @news_articles[0,10].each do |news| %>
          <hr/>
          <div class="article">
            <% if news.news_photo.present? || ENV['show_placeholders'] == "true" %>
              <%= link_to news do %>
                <%= image_tag news.news_photo.url(:medium) %>
              <% end %>
            <% end %>
            <h4><%= link_to news.title, news %></h4>
            <p><%= l news.post_on, format: :long %></p>
            <div><%= raw news.body %></div>
          </div>
        <% end %>
      <% end %>

      <%# The rest of the original 99 selected articles %>
      <% if @news_articles.count > 10 %>
        <% @news_articles[11,99].each do |news| %>
          <div class="row">
            <div class="medium-2 columns">
              <% if news.news_photo.present? || ENV['show_placeholders'] == "true" %>
                <%= link_to news do %>
                  <%= image_tag news.news_photo.url(:small) %>
                <% end %>
              <% end %>
              <br/>
            </div>
            <div class="medium-10 columns">
              <h3><%= link_to news.title, news %></h3>
              <p><%= l news.post_on, format: :long %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%# Side nav linking to the 10 most recent articles %>
    <div class="medium-2 columns">
      <ul class="no-bullet">
        <% @news_articles[0,10].each do |news| %>
          <li>
            <%= l news.post_on, format: :short %>:
            <h6><%= link_to news.title, news %></h6>
            <br/>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

