<%= simple_form_for [:cms, @available_locale, @case_study] do |f| %>
  <%= render 'cms/available_locales/form_header', f: f %>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :headline %>
    </div>
    <div class="medium-6 small-12 columns">
      <br/>
      <% Globalize.with_locale(I18n.default_locale) do %>
        <%= raw textilize @case_study.headline %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :description, input_html: { rows: 5 } %>
    </div>
    <div class="medium-6 small-12 columns">
      <br/>
      <% Globalize.with_locale(I18n.default_locale) do %>
        <%= raw textilize @case_study.description %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 small-12 columns">
      <%= f.input :content, input_html: { rows: 35 } %>
    </div>
    <div class="medium-6 small-12 columns">
      <br/>
      <% Globalize.with_locale(I18n.default_locale) do %>
        <%= raw textilize @case_study.content %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
      <hr/>
      <%= f.submit 'Save Changes', class: 'medium button' %>
    </div>
  </div>

<% end %>
