<div class="container buy-container" data-magellan-destination="buy">
  <a name="buy"></a>

  <% if vertical_market.retail? %>
    <div class="row">
      <div class="large-8 large-offset-2 columns text-center">

        <%# TODO: enable caching once changes settle down %>
        <%#= cache ["retailers_section", Date.today, I18n.locale] do %>
          <% retailers = OnlineRetailer.all %>
          <% if SiteSetting.set_for_locale?("store_link", current_locale.key) || retailers.count > 0 %>

            <% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
              <h4><%= SiteSetting.value("buy_direct_from_harman_headline") %></h4>
              <br/>
              <%= link_to t('home_page.shop_now'), SiteSetting.value("store_link"), target: "_blank", class: "secondary radius button" %>
              <br/>
            <% end %>

            <% if retailers.count > 0 %>
              <h4><%= SiteSetting.value("buy_from_online_retailer_headline") %></h4>
              <br/>
              <% retailers.order("RAND()").each do |online_retailer| %>
                <%= link_to online_retailer.url, class: "retailer", target: "_blank" do %>
                  <% if online_retailer.logo.present? || ENV['show_placeholders'] == "true" %>
                    <%= image_tag online_retailer.logo.url(:medium), alt: online_retailer.name %>
                  <% else %>
                    <%= online_retailer.name %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

          <% end %>
        <%# end %>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="large-12 columns">
        <div class="text-center">
          <h2><%= SiteSetting.value("installed-buy-headline") %></h2>
          <p><%= raw textilize SiteSetting.value("installed-buy-paragraph") %></p>
        </div>

        <div class="text-center">
          <% (1..8).each do |i| %>
            <%= image_tag("install_buy/button-0#{i}.png",
              class: "infographic",
              data: {
                hover: asset_path("install_buy/button-0#{i}_hover.png")
              }
             ) %>
          <% end %>

          <p>
            <br/>
            <%= link_to SiteSetting.value("button-help-me-get-started"), new_lead_path, class: "small radius button" %>
          </p>

        </div>

      </div>
    </div>
  <% end %>

</div>
