<div class="container buy-container" data-magellan-destination="buy">
<a name="buy"></a>
  <div class="row">
    <div class="large-8 large-offset-2 columns">

      <% if vertical_market.retail? %>

        <%= cache ["retailers_section", Date.today] do %>
          <% retailers = OnlineRetailer.all %>
          <% if SiteSetting.where(name: "store_link").exists? || retailers.count > 0 %>
            <div class="row">
              <div class="large-12 columns text-center">

                <% if SiteSetting.where(name: "store_link").exists? %>
                  <h4><%= SiteSetting.value("buy_direct_from_harman_headline") %></h4>
                  <br/>
                  <%= link_to "Shop Now", SiteSetting.value("store_link"), target: "_blank", class: "secondary radius button" %>
                  <br/>
                <% end %>

                <% if retailers.count > 0 %>
                  <h4><%= SiteSetting.value("buy_from_online_retailer_headline") %></h4>
                  <br/>
                  <% retailers.each do |online_retailer| %>
                    <%= link_to online_retailer.url, target: "_blank" do %>
                      <%= image_tag online_retailer.logo.url(:thumb), alt: online_retailer.name %>
                    <% end %>
                  <% end %>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>

      <% else %>
        <div class="row">
          <div class="large-12 columns">

            <div style="height: 300px; padding-top: 150px; color: #eee;" class="text-center">
              Infographic placeholder
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
