<div class="row space-after">
  <div class="large-12 columns">
    <h3><%= vertical_market.headline %></h3>
    <div class="description">
      <%=raw vertical_market.description %>
    </div>

    <% if vertical_market.featured_case_studies.length > 0 %>
      <div class="case_studies">
        <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">
          <% vertical_market.featured_case_studies.each do |case_study| %>
            <li>
              <div class="panel dark-panel case-study">
                <% if case_study.banner.present? || ENV['show_placeholders'] == "true" %>
                  <div class="text-center">
                    <%= link_to image_tag(case_study.banner.url(:small)), [vertical_market, case_study] %>
                  </div>
                <% end %>
                <h6 class="subheader"><%= link_to case_study.headline, [vertical_market, case_study]  %></h6>
                <div class="cs-descr"><%= raw case_study.description %></div>
                <%= link_to "more", [vertical_market, case_study], class: "tiny radius button" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%#= render 'resource_library_panel', vertical_market: vertical_market %>
</div>


