<div class="row space-after">
  <div class="large-8 columns">
    <h2><%= vertical_market.headline %></h2>
    <div class="description">
      <%=raw vertical_market.description %>
    </div>

    <% if vertical_market.featured_case_studies.length > 0 %>
      <div class="case_studies">
        <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">
          <% vertical_market.featured_case_studies.each do |case_study| %>
            <li>
              <div class="panel dark-panel">
                <div class="text-center">
                  <%= link_to image_tag(case_study.banner.url(:thumb)), [vertical_market, case_study] %>
                </div>
                <h6 class="subheader"><%= link_to case_study.headline, [vertical_market, case_study]  %></h6>
                <div class="space-after"><%= raw case_study.description %></div>
                <%= link_to "more", [vertical_market, case_study], class: "tiny radius button" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="large-4 columns">
    <%= cache ["resource-library-content", vertical_market, Date.today] do %>
      <h6 class="subheader underlined"><%= SiteSetting.value("resource-library-sidebar-title") %></h6>
      <div class="row">
        <% (1..3).each do |n| %>
          <div class="large-4 small-5 columns">
            <div class="small_placeholder">Img<%= n %></div>
          </div>
          <div class="large-8 small-7 columns">
            <h5>Resource title</h5>
            resource description text
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


