<div class="container plan-container" data-magellan-destination="plan">
<a name="plan"></a>
  <div class="row">
    <div class="large-8 large-offset-2 columns">

      <% if vertical_market.retail? %>

        <%# TODO: enable caching once changes calm down %>
        <%#= cache ["vertical-retail-plan", Date.today, current_locale] do %>
          <div class="row">
            <div class="large-12 columns">
              <h3><%= SiteSetting.value("retail-plan-section-subheader") %></h3>
              <div class="space-after">
                <%=raw textilize SiteSetting.value("retail-plan-section-paragraph") %>
              </div>
            </div>
          </div>
        <%# end %>

      <% else %>

        <div class="row">
          <div class="large-8 columns">
            <% if vertical_market.parent %>
              <%= cache ["parent-vertical-content", vertical_market.parent, Date.today, current_locale] do %>
                <h3><%= vertical_market.parent.headline %></h3>
                <div class="description parent">
                  <%= raw textilize vertical_market.parent.description %>
                </div>
              <% end %>
            <% end %>

            <%= cache ["help-find-installer-content", Date.today, current_locale] do %>
              <h6><strong><%= SiteSetting.value("subheader-help-find-installer") %></strong></h6>
              <div class="space-after">
                <%= raw textilize SiteSetting.value("help-find-installer-description") %>
              </div>
              <%= link_to SiteSetting.value("button-help-find-installer"), new_lead_path, class: "small radius button" %>
            <% end %>

          </div>

          <div class="large-4 columns">
            <div class="panel">
              <%= cache ["hef-content", Date.today, current_locale] do %>
                <h6 class="subheader"><%= SiteSetting.value("hef-sidebar-title") %></h6>
                <div class="space-after">
                  <%= raw textilize SiteSetting.value("hef-description") %>
                </div>
                <%= link_to t('learn_more'), SiteSetting.value("hef-link"), target: "_blank", class: "small radius button" %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
