<%= content_for :title do %>
  <%= @vertical_market.name %>
<% end %>

<% if @vertical_market.children.length > 0 %>
  <div class="bumped-up space-after">
    <div class="banner-container text-center">
      <%= image_tag @vertical_market.banner.url(:large) %>
    </div>
    <div class="row">
      <div class="large-5 large-offset-2 small-8 columns">
        <div class="panel slider-container">
          <h1><%= @vertical_market.name %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-container">
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <h1 class="text-center space-after"><%= @vertical_market.headline %></h1>
        <%= raw @vertical_market.description %>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
          <% @vertical_market.children.each do |vm| %>
            <li>
              <div class="panel">
                <div class="text-center">
                  <%= link_to vm.name, vm %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% else %>

  <div ng-controller="VerticalMarketController as vertical" vmid="<%= @vertical_market.id %>">
    <div class="bumped-up space-after">
      <div class="banner-container text-center">
        <% @vertical_market.featured_reference_systems.each_with_index do |reference_system, i| %>
          <div ng-show="vertical.slider_pos === <%= i + 1 %>">
            <%= image_tag reference_system.banner.url(:large) %>
          </div>
        <% end %>
        <% if @vertical_market.featured_reference_systems.length == 0 %>
          <%= image_tag @vertical_market.banner.url(:large) %>
        <% end %>
      </div>
      <div class="row">
        <div class="large-5 large-offset-2 small-8 columns">
          <div class="panel slider-container">
            <h1><%= @vertical_market.name %></h1>
            <% if @vertical_market.featured_reference_systems.length > 1 %>
              <slider
                floor="1"
                ceiling="<%= @vertical_market.featured_reference_systems.length %>"
                step="1"
                precision="0"
                ng-model="vertical.slider_pos">
               </slider>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container main-container">
      <div class="row">
        <div class="large-8 large-offset-2 columns">

          <% @vertical_market.featured_reference_systems.each_with_index do |reference_system, i| %>
            <div class="reference_system_container" ng-show="vertical.slider_pos === <%= i + 1 %>">
              <%= render "reference_systems/details", reference_system: reference_system %>
            </div>
          <% end %>

          <%= render "bottom", vertical_market: @vertical_market %>

        </div>
      </div>
    </div>
  </div>

<% end %>
