<%= content_for :title do %><%= @vertical_market.name %><% end %>
<%= content_for :description do %>Resources to learn, plan and buy your <%= @vertical_market.name %> pro audio, video, lighting and control systems.<% end %>

<% if @vertical_market.children.length > 0 %>
  <div class="bumped-up space-after hide-for-small">
    <div class="banner-container vertical-market">
      <% if @vertical_market.banner.present? || ENV['show_placeholders'] == "true" %>
        <%= image_tag @vertical_market.banner.url(:large) %>
      <% end %>
    </div>
    <div class="row">
      <div class="large-5 large-offset-2 medium-6 medium-offset-2 columns">
        <div class="panel slider-container">
          <h1><%= @vertical_market.name %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-container">
    <div class="row">
      <div class="large-10 medium-12 large-offset-1 columns">
        <h1 class="text-center space-after"><%= @vertical_market.headline %></h1>
      </div>
    </div>
    <div class="row">
      <div class="large-8 medium-10 large-offset-2 medium-offset-1 columns">
        <%= raw textilize @vertical_market.description %>
        <div class="text-center">
          <% @vertical_market.children.each do |vm| %>
            <%= link_to vm, class: "vertical-market-icon" do %>
              <% if vm.banner.present? || ENV['show_placeholders'] == "true" %>
                <%= image_tag vm.banner.url(:small) %>
              <% end %>
              <h5><%= vm.name %></h5>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div ng-controller="VerticalMarketCtrl" ng-cloak
    vmid="<%= @vertical_market.to_param %>">

    <div class="bumped-up">

      <div data-system-id="{{ currentSystem()['id'] }}"></div>
      <div class="banner-container vertical-market">
        <% if @vertical_market.reference_systems.count > 0 %>
          <img ng-src="{{ system['banner_url'] }}" img-preload />
        <% else %>
          <%= image_tag(@vertical_market.banner.url(:large)) %>
        <% end %>
      </div>

      <div class="row">
        <div class="large-5 large-offset-2 medium-6 medium-offset-2 small-11 columns">
          <div class="slider-container panel">
            <a name="learn"></a>
            <h1 data-magellan-destination="learn"><%= @vertical_market.name %></h1>

            <% if @vertical_market.reference_systems.count > 1 %>
              <div ng-show="systems.length > 1">
                <slider
                  floor="1"
                  ceiling="{{ systems.length }}"
                  step="1"
                  precision="0"
                  ng-model="slider_pos">
                </slider>

                <ul class="small-block-grid-{{ systems.length }} medium-block-grid-{{ systems.length }} large-block-grid-{{ systems.length }}">
                  <li ng-repeat="system in systems">{{ system.slider_name }}</li>
                </ul>
              </div>
            <% end %>

          </div>
        </div>
      </div>

    </div>

    <%= render "shared/learn_plan_buy_nav.html.erb" %>

    <div class="container main-container">
      <div class="row">
        <div class="large-8 large-offset-2 columns">

          <div class="reference_system_container"
            ng-show="systems.length > 0">

            <h2>{{ system['headline'] }}</h2>
            {{ system['description'] }}

            <% if @vertical_market.all_diagrams_present? || ENV['show_placeholders'] == "true" %>
              <div class="system-diagram-container">
                <%= render "reference_systems/system_diagram_popups" %>

                <img ng-src="{{ system['system_diagram_url'] }}" img-preload/>
              </div>
            <% else %>
              <hr/>
            <% end %>
          </div>

          <noscript>
            <h5 class="subheader">Explore these examples:</h5>
            <ul>
              <%= @vertical_market.featured_reference_systems.each do |reference_system| %>
                <li><%= link_to reference_system.name, [@vertical_market, reference_system] %></li>
              <% end %>
            </ul>
          </noscript>

          <%= render "learn", vertical_market: @vertical_market %>

        </div>
      </div>
    </div>

  </div>

  <%= render "plan", vertical_market: @vertical_market %>
  <%= render "buy", vertical_market: @vertical_market %>

<% end %>
