<div class="subnav-container">
  <div class="row">
    <div class="large-12 columns">
      <dl class="sub-nav">
        <dd class="<%= 'active' if request.fullpath == service_path %>">
          <%= link_to "Service Home", service_path %>
        </dd>
        <dd class="<%= 'active' if request.fullpath == service_center_login_path %>">
          <%= link_to "Service Center Login", service_center_login_path %>
        </dd>
        <dd><%= link_to "Find a Service Center", service_centers_path %></dd>
      </dl>
    </div>
  </div>
</div>
