<div class="subnav-container">
  <div class="row">
    <div class="large-12 columns">
      <dl class="sub-nav">
        <dd class="<%= 'active' if request.fullpath == service_path %>">
          <%= link_to t('service_page.subnav.services_home'), service_path %>
        </dd>
        <dd class="<%= 'active' if request.fullpath == service_center_login_path %>">
          <%= link_to t('service_page.subnav.service_center_login'), service_center_login_path %>
        </dd>
        <dd class="<%= 'active' if request.fullpath.match /#{service_centers_path}$/ %>">
          <%= link_to t('service_page.subnav.find_service'), service_centers_path %>
        </dd>
      </dl>
    </div>
  </div>
</div>
