<%= content_for :title do %><%= SiteSetting.value("leadgen-title") %><% end %>
<%= content_for :description do %><%= t('leadgen_page.meta_description') %><% end %>

<div class="container main-container">
  <h1 class="text-center"><%= SiteSetting.value("leadgen-title") %></h1>
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <p>
        <%= SiteSetting.value("leadgen-intro") %>
      </p>
      <%= render 'form' %>
    </div>
  </div>
</div>
