<div class="medium-2 small-12 columns">
  <h6>Translatable items for
  <%= @available_locale.name %>:</h6>
  <ul class="no-bullet" id="translatables">
    <% AvailableLocale.translatables.each do |t| %>
      <li>
        <%= link_to [:cms, @available_locale, t.constantize] do %>
          <%= t.pluralize.titleize %>
          <% n = t.constantize.needing_translations(@available_locale.key).count %>
          <% if n > 0 %>
            <span class="needs-translation">
              (<%= n %>)
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr/>
  <h6><%= @available_locale.name %> site options:</h6>
  <ul class="no-bullet">
    <li><%= link_to "Customize Navigation", [:cms, @available_locale, :menu_items] %></li>
    <li><%= link_to "Landing Pages", [:originated, :cms, @available_locale, :landing_pages ] %></li>
    <li><%= link_to "Local Events", [:local, :cms, @available_locale, :events] %></li>
    <li><%= link_to "News Articles", [:cms, @available_locale, :news_articles] %></li>
  </ul>

</div>

