<div class="large-12 small-12 columns">
  <%= render 'cms/available_locales/side_nav' %>

  <div class="medium-8 small-12 columns">
    <h5 class="text-center">Consultant Resources</h5>

    <%= simple_form_for [:cms, @available_locale], url: update_consultants_cms_available_locale_path(@available_locale), method: :post do |f| %>

      <%= simple_fields_for "site_setting[#{@intro.id}]", @intro do |ci| %>
        <%= ci.input :content, as: :text,
          label: "Welcome Paragraph",
          input_html: { rows: 10, class: "mceEditor" }  %>
      <% end %>

      <br/>
      <%= simple_fields_for "site_setting[#{@contacts.id}]", @contacts do |co| %>
        <%= co.input :content, as: :text,
          label: "Contact information for consultants",
          input_html: { rows: 20, class: "mceEditor" }  %>
      <% end %>

      <br/>
      <%= simple_fields_for "site_setting[#{@consignment.id}]", @consignment do |co| %>
        <%= co.input :content, as: :text,
          label: "Consignment program paragraph",
          hint: "Leave blank to hide the consignment section on the public site.",
          input_html: { rows: 10, class: "mceEditor" }  %>
      <% end %>

      <%= f.submit "Save Changes", class: "medium button" %>
    <% end %>
  </div>

  <div class="medium-2 columns">
    &nbsp;
  </div>
</div>
