<%= content_for :title do %>Events<% end %>
<%= content_for :description do %>Events where you'll find representatives of HARMAN Professional products and services.<% end %>

<div class="bumped-up">
  <div class="banner-container">
    <h1><%= image_tag "events_header.jpg", alt: "Events" %></h1>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="medium-12 columns">

      <% unless @events.length > 0 %>
        <div class="alert-box radius info" data-alert>
          There don't seem to be any current events. Check back soon.
        </div>
      <% end %>

      <% @events.where(featured: true).each do |event| %>
        <div class="row">
          <div class="medium-4 small-12 columns">
            <% if event.image.present? %>
              <%= link_to_event(image_tag(event.image.url(:medium), alt: event.name, class: 'featured-event'), event) %>
            <% end %>
          </div>
          <div class="medium-8 small-12 columns">
            <h2><%= link_to_event event.name, event %></h2>
            <h5 class="subheader"><small><%= event_date(event) %></small></h5>
            <%=raw textilize truncate(event.description, length: 275) %>
            <p><%= link_to_event t("more_info"), event, class: "small radius button" %></p>
          </div>
        </div>
      <% end %>

      <hr/>

      <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
        <% @events.where(featured: false).each do |event| %>
          <li>
            <div class="panel">
              <% if event.more_info_link.present? %>
                <h4><%= link_to_event event.name, event %></h4>
              <% else %>
                <h4><%= event.name %></h4>
              <% end %>
              <h5 class="subheader"><small><%= event_date(event) %></small></h5>
              <%=raw textilize event.description %>
            </div>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
  <% if Event.recent.count > 0 %>
    <div class="row">
      <div class="medium-12 columns">
        <%= link_to "recent events", recent_events_path, class: "tiny radius button" %>
      </div>
    </div>
  <% end %>
</div>
