<%= content_for :title do %><%= truncate @event.name, length: 40 %><% end %>
<%= content_for :description do %>HARMAN PRO event: <%=truncate @event.description, length: 60 %><% end %>

<% if @event.image.present? || ENV['show_placeholders'] == "true" %>
  <div class="bumped-up space-after">
    <div class="banner-container vertical-market">
      <%= image_tag @event.image.url(:large), name: @event.name %>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="medium-12 columns">
      <h1><%= @event.name %></h1>
      <h5 class="subheader"><small><%= event_date(@event) %></small></h5>
      <br/>

      <% if @event.page_content.present? %>
        <% if @event.more_info_link.present? %>
          <div class="medium-2 columns text-center">
            <%= link_to t("more_info"), @event.more_info_link, class: "radius button", target: @event.new_window? ? "_blank" : "" %>
          </div>
        <% end %>

        <div><%= raw @event.page_content %></div>

      <% else %>

        <div class="row">
          <div class="medium-10 columns">
            <%=raw textilize @event.description %>
          </div>
          <div class="medium-2 columns text-center">
            <% if @event.more_info_link.present? %>
              <%= link_to t("more_info"), @event.more_info_link, class: "radius button", target: @event.new_window? ? "_blank" : "" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
