<%= content_for :title do %>
  <%= @reference_system.name %>
<% end %>

<%= content_for :banner do %>
  <div class="text-center">
    <%= image_tag(@reference_system.banner.url(:large)) %>
  </div>
<% end %>

<h1><%= @reference_system.name %></h1>
<h4 class="subheader"><small>A <%= link_to @vertical_market.name, @vertical_market %> reference system</small></h4>

<p>
  <% if @reference_system.previous %>
    <%= link_to "previous", [@vertical_market, @reference_system.previous] %>
  <% end %>
  <% if @reference_system.next %>
    <%= link_to "next", [@vertical_market, @reference_system.next] %>
  <% end %>
</p>

<h2><%= @reference_system.headline %></h2>
<div class="reference_system_description">
  <%= @reference_system.description %>
</div>

<% if @reference_system.retail? %>

  <div class="buynow_container">
    Ecomm hook
  </div>

<% else %>

  <div class="infographic_container">
    Design/Build Infographic
  </div>

<% end %>
