<%= content_for :title do %>
  <%= @reference_system.name %>
<% end %>

<div class="bumped-up">
  <div class="banner-container">
    <%= image_tag(@reference_system.banner.url(:large)) %>
  </div>
  <div class="row">
    <div class="large-5 large-offset-2 small-8 columns">
      <div class="panel slider-container">
        <h1><%= @reference_system.name %></h1>
        <p>
          <% if @reference_system.previous %>
            <%= link_to "previous", [@vertical_market, @reference_system.previous] %>
          <% end %>
          <% if @reference_system.next %>
            <%= link_to "next", [@vertical_market, @reference_system.next] %>
          <% end %>
        </p>
        <p>More <%= link_to "#{@vertical_market.name.downcase} examples", @vertical_market %>...</p>
      </div>
    </div>
  </div>
</div>

<%= render "shared/learn_plan_buy_nav.html.erb" %>

<div class="container main-container">
  <div class="row">
    <div class="large-8 large-offset-2 columns">

      <div class="reference_system_container">
        <%= render "details", reference_system: @reference_system %>
      </div>

      <%= render "vertical_markets/learn", vertical_market: @vertical_market %>
    </div>
  </div>
</div>

<%= render "vertical_markets/plan", vertical_market: @vertical_market %>
<%= render "vertical_markets/buy", vertical_market: @vertical_market %>

