<h1><%= @example.name %></h1>
<h4 class="subheader"><small>A <%= link_to @vertical_market.name, @vertical_market %> Example</h4>

<p>
  <% if @example.previous %>
    <%= link_to "previous", [@vertical_market, @example.previous] %>
  <% end %>
  <% if @example.next %>
    <%= link_to "next", [@vertical_market, @example.next] %>
  <% end %>
</p>

<div class="example_description">
  <%= @example.description %>
</div>

<% if @example.retail? %>

  <div class="buynow_container">
    Ecomm hook
  </div>

<% else %>

  <div class="infographic_container">
    Design/Build Infographic
  </div>

<% end %>
