<%= content_for :title do %><%= t('service_page.title') %><% end %>
<%= content_for :description do %><%= t('service_page.meta_description') %><% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">

    <div class="large-8 medium-7 columns">
      <div class="service-banner"> </div>
      <br/>
      <div class="row" data-equalizer="blurbs">
        <div class="large-4 medium-4 small-4 columns">
          <h5><%= t('service_page.subheaders.register_your_products') %></h5>
          <div data-equalizer-watch="blurbs">
            <p><%= t('service_page.blurbs.register_your_products') %></p>
          </div>
            <br/>
          <%= link_to t('service_page.links.register_now'), ENV['warranty_registration_url'], target: "_blank", class: "small radius button" %>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <h5><%= t('service_page.subheaders.warranty_repair') %></h5>
          <div data-equalizer-watch="blurbs">
            <p><%= t('service_page.blurbs.warranty_repair') %></p>
          </div>
            <br/>
          <%= link_to t('service_page.links.start_your_repair'), ENV['warranty_repair_url'], target: "_blank", class: "small radius button" %>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <h5><%= t('service_page.subheaders.out_of_warranty') %></h5>
          <div data-equalizer-watch="blurbs">
            <p><%= t('service_page.blurbs.out_of_warranty') %></p>
          </div>
            <br/>
          <%= link_to t('service_page.links.get_started'), ENV['warranty_repair_url'], target: "_blank", class: "small radius button" %>
        </div>
      </div>
    </div>

    <div class="large-4 medium-5 columns">
      <div class="callout panel">
        <h3><%= t('service_page.subheaders.service_center_login') %></h3>
        <p><%= t('service_page.blurbs.service_center_login') %></p>
        <%= link_to t('service_page.links.access_now'), service_center_login_path, class: "small radius button" %>

        <hr/>
        <h3><%= t('service_page.subheaders.become_a_service_center') %></h3>
        <p><%= t('service_page.blurbs.become_a_service_center') %></p>
        <%= link_to t('service_page.links.apply_now'), new_service_center_path, class: "small radius button" %>

        <hr/>
        <h3><%= t('service_page.subheaders.harman_pro_dealer_portal') %></h3>
        <p><%= t('service_page.blurbs.harman_pro_dealer_portal') %></p>
        <%= link_to t('service_page.links.order_now'), ENV['dealer_portal_url'], class: "small radius button" %>
    </div>

  </div>
</div>
