<%= content_for :title do %><%= truncate @case_study.headline, length: 40 %><% end %>
<%= content_for :description do %><%= t('case_study') %>: <%= @case_study.headline %><% end %>

<% if @case_study.banner.present? || ENV['show_placeholders'] == "true" %>
  <div class="bumped-up space-after">
    <div class="banner-container vertical-market">
      <%= image_tag @case_study.banner.url(:large) %>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="large-7 large-offset-1 columns">
      <h1><%= @case_study.headline %></h1>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="large-7 large-offset-1 columns">
      <%=raw textilize @case_study.content %>
    </div>
    <div class="large-3 medium-12 small-12 end columns">
      <div class="callout panel">

        <h5><%=t "case_study_page.is_your_project_similar" %></h5>

        <br/>
        <%= link_to new_lead_path, class: "medium radius button" do %>
          <%=t "case_study_page.connect_with_harman" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
