<%= content_for :title do %><%= @brand.name %><% end %>
<%= content_for :description do %>Summary of products and services provided by <%= @brand.name %>, a HARMAN Professional brand.<% end %>

<div class="container main-container padded">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <% if @brand.by_harman_logo.present? %>
        <h1><%= image_tag @brand.by_harman_logo.url(:large), alt: @brand.name %></h1>
      <% elsif @brand.logo.present? %>
        <h1><%= image_tag @brand.logo.url(:large), alt: @brand.name %></h1>
      <% else %>
        <h1><%= @brand.name %></h1>
      <% end %>
      <br/>

      <div>
        <%=raw textilize @brand.description %>
      </div>

      <% if @brand.url.present? %>
        <p>Learn more at
          <%= link_to @brand.friendly_url, @brand.url, target: "_blank" %>
        </p>
      <% end %>

      <% if @brand.by_harman_logo.present? || @brand.marketing_url.present? %>
        <hr/>
        <h4 class="subheader">Branding Resources</h4>

        <div class="row">
          <div class="medium-6 columns">

            <% if @brand.logo_collection.present? %>
              <%= link_to @brand.logo_collection.url do %>
                <% if @brand.by_harman_logo.present? %>
                  <%= image_tag @brand.by_harman_logo.url(:medium), alt: "#{ @brand.name } logo collection" %>
                <% end %>
                <br/><%= @brand.name %> logo collection
              <% end %>
            <% elsif @brand.by_harman_logo.present? %>
              <%= link_to @brand.by_harman_logo.url(:original) do %>
                <%= image_tag @brand.by_harman_logo.url(:medium), alt: "#{ @brand.name } logo" %>
              <% end %>
              <br/><%= @brand.name %> logo
            <% end %>

          </div>
          <div class="medium-6 columns">

            <%= link_to asset_path('HARMAN-BRAND-VISION-GUIDELINES_07.28.15.pdf') do %>
              <%= image_tag 'branding_cover.jpg', alt: 'Harman Branding Guidelines' %>
            <% end %>

          </div>
        </div>

        <% if @brand.marketing_url.present? %>
          <p>
            <%= link_to 'More marketing resources', @brand.marketing_url, target: "_blank", class: "small radius button" %>
          </p>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
