<%= content_for :title do %><%= @brand.name %><% end %>
<div class="container main-container">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <% if @brand.logo.present? %>
        <h1><%= image_tag @brand.logo.url(:small), alt: @brand.name %></h1>
      <% else %>
        <h1><%= @brand.name %></h1>
      <% end %>

      <div>
        <%=raw textilize @brand.description %>
      </div>

      <% if @brand.url.present? %>
        <p>Learn more at
          <%= link_to @brand.friendly_url, @brand.url, target: "_blank" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
