<%= content_for :title do %><%= @brand.name %><% end %>
<%= content_for :description do %>Summary of products and services provided by <%= @brand.name %>, a HARMAN Professional brand.<% end %>

<div class="container main-container padded">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <% if @brand.by_harman_logo.present? %>
        <h1><%= image_tag @brand.by_harman_logo.url(:large), alt: @brand.name %></h1>
      <% elsif @brand.logo.present? %>
        <h1><%= image_tag @brand.logo.url(:large), alt: @brand.name %></h1>
      <% else %>
        <h1><%= @brand.name %></h1>
      <% end %>
      <br/>

      <div>
        <%=raw textilize @brand.description %>
      </div>

      <% if @brand.url.present? %>
        <p>
          Learn more at
          <%= link_to @brand.friendly_url, @brand.url, target: "_blank" %>
        </p>
      <% end %>

      <% if @brand.by_harman_logo.present? || @brand.marketing_url.present? %>
        <hr/>
        <h6>Branding Resources</h6>

        <div class="row">
          <div class="medium-12 columns" data-equalizer="brand-resources">

            <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1">

              <% if @brand.logo_collection.present? %>
                <li>
                    <div class="panel text-center" data-equalizer-watch="brand-resources">
                      <div class="brand-logo">
                        <% if @brand.by_harman_logo.present? %>
                          <%= link_to @brand.logo_collection.url do %>
                            <p><%= image_tag @brand.by_harman_logo.url(:medium), alt: "#{ @brand.name } logo collection" %></p>
                          <% end %>
                        <% end %>
                      </div>
                      <%= link_to @brand.logo_collection.url do %>
                        <p><%= @brand.name %> logo collection</p>
                      <% end %>
                    </div>
                </li>
              <% elsif @brand.by_harman_logo.present? %>
                <li>
                    <div class="panel text-center" data-equalizer-watch="brands">
                      <div class="brand-logo">
                        <%= link_to @brand.by_harman_logo.url(:original) do %>
                          <p><%= image_tag @brand.by_harman_logo.url(:medium), alt: "#{ @brand.name } logo" %></p>
                        <% end %>
                      </div>
                      <%= link_to @brand.by_harman_logo.url(:original) do %>
                        <p><%= @brand.name %> logo</p>
                      <% end %>
                    </div>
                </li>
              <% end %>

            </ul>

          </div>
        </div>

        <% if @brand.marketing_url.present? %>
          <p>
            <%= link_to 'More marketing resources', @brand.marketing_url, target: "_blank", class: "tiny radius button" %>
          </p>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
