<%= content_for :title do %>Locate a Harman Pro Service Center<% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">
    <div class="large-6 medium-8 columns">
      <div class="callout panel">
        <%= search_form_for @search, class: "custom" do |f| %>
          <%= f.label :state_eq, "Select your US state:" %>
          <div class="row collapse">
            <div class="large-8 medium-8 small-9 columns">
              <%= f.select :state_eq, options_for_select(ServiceCenter.states, @selected) %>
            </div>
            <div class="large-4 medium-4 small-3 columns">
              <%= f.submit "Search", class: "prefix button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% if @service_centers  %>
        <% if @service_centers.length > 0 %>
          <table width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address/Phone</th>
                <th>Services</th>
              </tr>
            </thead>

            <tbody>
              <% @service_centers.sort{|a,b| b.service_center_service_groups.count <=> a.service_center_service_groups.count}.each do |service_center| %>
                <tr>
                  <td>
                    <%= service_center.name %>
                    <% if service_center.email.present? %>
                      <br/><%= raw auto_link service_center.email %>
                    <% end %>
                    <% if service_center.website.present? %>
                      <br/><%= raw auto_link service_center.website %>
                    <% end %>
                  </td>
                  <td>
                    <%= service_center.address %><br/>
                    <%= service_center.city %>,
                    <%= service_center.state %>
                    <%= service_center.zip %>
                    <% if service_center.phone.present? %>
                      <br/><strong><%= raw service_center.phone.to_s.gsub(/\s/, "&nbsp;") %></strong>
                    <% end %>
                  </td>
                  <td>
                    <ul>
                      <% service_center.service_groups.each do |sg| %>
                        <li><%= sg.name %></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p><i>No search results found. Please try again. Try entering just the state abbreviation.</i></p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
