<%= content_for :title do %>Locate a Harman Pro Service Center<% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">
    <div class="large-6 medium-8 columns">
      <div class="callout panel">
        <%= search_form_for @search, class: "custom" do |f| %>
          <%= f.label :state_cont, "Enter your US state:" %>
          <div class="row collapse">
            <div class="large-8 medium-8 small-9 columns">
              <%= f.text_field :state_cont %>
            </div>
            <div class="large-4 medium-4 small-3 columns">
              <%= f.submit "Search", class: "prefix button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% if @service_centers  %>
        <% if @service_centers.length > 0 %>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
              </tr>
            </thead>

            <tbody>
              <% @service_centers.each do |service_center| %>
                <tr>
                  <td><%= service_center.name %></td>
                  <td>
                    <%= service_center.address %><br/>
                    <%= service_center.city %>,
                    <%= service_center.state %>
                    <%= service_center.zip %>
                  </td>
                  <td><%= service_center.phone %></td>
                  <td><%=raw auto_link service_center.email %></td>
                  <td><%=raw auto_link service_center.website %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p><i>No search results found. Please try again. Try entering just the state abbreviation.</i></p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
