<%= content_for :title do %><%= t('find_service_page.title') %><% end %>
<%= content_for :description do %><%= t('find_service_page.meta_description') %><% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div class="callout panel">
        <%= search_form_for @search, class: "custom" do |f| %>
          <div class="row">
            <div class="large-3 medium-3 small-12 columns">
              <%= f.label :state_eq, t('find_service_page.select_state') %>
              <%= f.select :state_eq, options_for_select([["(#{t :any})", nil]] + ServiceCenter.states, @selected) %>
            </div>
            <div class="large-7 medium-7 small-12 columns">
              <%= f.label :service_groups_name_eq, t('find_service_page.service_type_needed') %>
              <%= f.select :service_groups_name_eq, options_for_select([["(#{t :any})", nil]] + ServiceGroup.names, @selected_group) %>
            </div>
            <div class="large-2 medium-2 small-12 columns">
              <br/>
              <%= f.submit t(:search).titleize, class: "small button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% if @service_centers  %>
        <% if @service_centers.length > 0 %>
          <table width="100%">
            <thead>
              <tr>
                <th><%= t('find_service_page.contact_information') %></th>
                <th><%= t('find_service_page.services') %></th>
              </tr>
            </thead>

            <tbody>
              <% @service_centers.sort{|a,b| b.service_center_service_groups.count <=> a.service_center_service_groups.count}.each do |service_center| %>
                <tr>
                  <td valign="top">
                    <h5><%= service_center.name %></h5>
                    <p>
                      <%= service_center.address %><br/>
                      <%= service_center.city %>,
                      <%= service_center.state %>
                      <%= service_center.zip %>
                      <% if service_center.phone.present? %>
                        <br/><strong><%= raw service_center.phone.to_s.gsub(/\s/, "&nbsp;") %></strong>
                      <% end %>
                    </p>
                    <% if service_center.email.present? %>
                      <%= raw auto_link service_center.email %><br/>
                    <% end %>
                    <% if service_center.website.present? %>
                      <%= raw auto_link service_center.website %>
                    <% end %>
                  </td>
                  <td>
                    <ul>
                      <% service_center.service_groups.each do |sg| %>
                        <li><%= sg.name %></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p><i><%= t('find_service_page.no_results_found') %></i></p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
