<%= content_for :title do %><%= t('service_login_page.title') %><% end %>
<%= content_for :description do %><%= t('service_login_page.meta_description') %><% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">

    <div class="large-8 medium-7 columns">
      <h3><%= t('service_login_page.subheaders.visit_brand_portals') %></h3>
      <br/>

      <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2" data-equalizer="panels">
        <% @brands.each do |brand| %>
          <li>
          <div class="panel brand-panel" data-equalizer-watch="panels">
            <div class="brand-logo">
              <% if brand.logo.present? || ENV['show_placeholders'] == "true" %>
                <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
              <% end %>
            </div>
            <p><%= link_to t('service_login_page.brand_website', brand: brand.first_name), brand.url, target: "_blank" %></p>
            <% if brand.tech_url.present? %>
              <p><%= link_to t('service_login_page.brand_technical_resources', brand: brand.first_name), brand.tech_url, target: "_blank" %></p>
            <% end %>
          </div>
          </li>
        <% end %>
      </ul>

    </div>

    <div class="large-4 medium-5 columns">
      <div class="callout panel">
        <h3><%= t('service_login_page.subheaders.become_a_service_center') %></h3>

        <%= raw textilize SiteSetting.value('service-center-requirements') %>

        <p><%= t('service_login_page.blurbs.become_a_service_center') %></p>

        <%= link_to t('service_page.links.apply_now'), new_service_center_path, class: "small radius button" %>
      </div>

      <div class="callout panel">
        <h3><%= t('service_login_page.subheaders.dealer_portal') %></h3>
        <p><%= t('service_login_page.blurbs.dealer_portal') %></p>
        <%= link_to t('service_page.links.order_now'), ENV['dealer_portal_url'], class: "small radius button" %>
      </div>
    </div>
  </div>

</div>

