<%= content_for :title do %><%= t('service_center_registration.title') %><% end %>
<%= content_for :description do %><%= t('service_center_registration.meta_description') %><% end %>

<%= render 'shared/service_subnav' %>

<div class="container main-container">
  <div class="row">

    <div class="large-8 medium-7 columns">
      <h1><%= t('service_center_registration.title') %></h1>

      <%= render 'form' %>
    </div>

    <div class="large-4 medium-5 columns">
      <div class="callout panel">
        <h3><%= t('service_center_registration.subheaders.requirements') %></h3>
        <%= raw textilize SiteSetting.value('service-center-requirements') %>
      </div>
    </div>
  </div>

</div>


