<p>The following lead was received through the harmanpro.com website:</p>

<p>
name: <%= @lead.name %><br/>
email: <%= @lead.email %><br/>
company: <%= @lead.company %><br/>
phone: <%= @lead.phone %><br/>
location: <%= @lead.location %>
</p>

<h5>Project Description</h5>
<%= @lead.project_description %>
