<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sticky">
      <% unless Rails.env.production? %>
        <div class="text-center" style="background: yellow; padding: 3px">
          Hi. Welcome to the harmanpro.com <%= Rails.env.to_s %> environment.
        </div>
      <% end %>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
          <h1><a href="/"><%= image_tag "harman-logo-white.png", alt: t('logo_alt_text'), id: "logo", class: 'no-resize' %></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span><%= t('nav.menu') %></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <%= cache ["top-nav", Date.today, I18n.locale] do %>
              <%= top_vertical_market_navigation(dropdowns: false) %>
              <li class="has-dropdown">
              <a href="#" class="disabled"><%= t('nav.resources') %></a>
                <ul class="dropdown">
                  <li><%= link_to t('nav.media_library'), "/medialibrary", target: "_blank" %></li>
                  <li><%= link_to t('nav.training'), training_path %></li>
                  <li><%= link_to t('nav.consultants'), consultant_portal_path %></li>
                  <li><%= link_to t('nav.contacts'), contacts_path %></li>
                  <li><%= link_to t('nav.service'), service_path %></li>
                </ul>
              </li>
              <% if SiteSetting.set?("blog_link_name") && SiteSetting.set?("blog_link") %>
                <li>
                  <%= link_to SiteSetting.value("blog_link_name"), SiteSetting.value("blog_link"), target: "_blank" %>
                </li>
              <% end %>
              <% if SiteSetting.where(name: "store_link").exists? %>
                <li class="divider"></li>
                <li class="has-form"><%= link_to t('nav.shop'), SiteSetting.value("store_link"), target: "_blank", class: "radius button" %></li>
              <% end %>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <br/>
        <div class="row">
          <div class="large-12 medium-12 columns">
            <div data-alert class="alert-box radius <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
              <%= content_tag :div, msg %>
              <a href="#" class="close">&times;</a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <div class="container footer">
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <div class="row">
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-1", Date.today, I18n.locale] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length > 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.children.each do |v| %>
                        <li><%= link_to v.name, v %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-2", Date.today, I18n.locale] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length <= 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.reference_systems.each do |rs| %>
                        <li><%= link_to rs.name, [vmp, rs] %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-3", Date.today, I18n.locale] do %>
                <h6 class="subheader"><%= t('harman_brands') %></h6>
                <ul>
                  <% all_brands.each do |brand| %>
                    <li><%= link_to brand.name, brand %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-footer text-center">
      <p>
        &copy; <%= Date.today.year %> <%= link_to "HARMAN", "http://www.harman.com", target: "_blank" %>.
        <%= t('all_rights_reserved') %>.
        &bull;
        <%= link_to t('privacy_policy'), privacy_policy_path %>
        &bull;
        <%= link_to t('terms_of_use'), terms_of_use_path %>
      </p>
      <p>
        <%= link_to image_tag("harman_tiny.png", alt: "HARMAN"), "http://www.harman.com", target: "_blank" %>
      </p>
    </div>

    <%= javascript_include_tag "application" %>
    <%= render 'shared/marketing_tracking' %>
  </body>
</html>
