<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% unless Rails.env.production? %>
      <div class="text-center" style="background: yellow; padding: 3px">
        Hi. Welcome to the pro.harman.com <%= Rails.env.to_s %> environment.
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <div class="row logo-container">
          <div class="medium-6 columns">
            <h1 class="logo">
              <a href="http://www.harman.com"><%= image_tag "logo.png", alt: t('logo_alt_text'), id: "logo", class: 'no-resize' %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </div>
          <div class="medium-6  hide-for-small columns">
            &nbsp;
          </div>
        </div>

        <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul>
              <%= cache ["top-nav", Date.today, I18n.locale] do %>
                <%= top_vertical_market_navigation(dropdowns: false) %>
                <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('nav.resources') %></a>
                  <ul class="dropdown">
                    <% if current_locale.menu_items.length > 0 %>
                      <% current_locale.menu_items.order(:position).each do |mi| %>
                        <li><%= link_to mi.title, mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                      <% end %>
                    <% elsif MenuItem.where(locale_id: nil).count > 0 %>
                      <% MenuItem.where(locale_id: nil).order(:position).each do |mi| %>
                        <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                      <% end %>
                    <% else %>
                      <li><%= link_to t('nav.media_library'), SiteSetting.value("media-library-menu-link-location") %></li>
                      <li><%= link_to t('nav.training'), training_path %></li>
                      <li><%= link_to t('nav.events'), events_path %></li>
                      <li><%= link_to t('nav.consultants'), consultant_portal_path %></li>
                      <li><%= link_to t('nav.contacts'), contacts_path %></li>
                      <li><%= link_to t('nav.service'), service_path %></li>
                    <% end %>
                  </ul>
                </li>
                <% if SiteSetting.set_for_locale?("blog_link_name") && SiteSetting.set_for_locale?("blog_link") %>
                  <li>
                    <%= link_to SiteSetting.value("blog_link_name"), SiteSetting.value("blog_link"), target: "_blank" %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </section>
          <section class="top-bar-section">
            <ul class="right">
              <% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
                <li class="has-form"><%= link_to t('nav.shop'), SiteSetting.value("store_link"), target: "_blank", class: "radius button" %></li>
              <% end %>
            </ul>
          </section>
        </nav>
        </div>

      </div>
    </div>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <br/>
        <div class="row">
          <div class="large-12 medium-12 columns">
            <div data-alert class="alert-box radius <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
              <%= content_tag :div, msg %>
              <a href="#" class="close">&times;</a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div id="footer">
          <div class="row">
            <div class="large-3 medium-6 hide-for-small columns">
              <%= cache ["footer-col-1", Date.today, I18n.locale] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length > 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.children.each do |v| %>
                        <li><%= link_to v.name, v %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-3 medium-6 hide-for-small columns">
              <%= cache ["footer-col-2", Date.today, I18n.locale] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length <= 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.reference_systems.each do |rs| %>
                        <li><%= link_to rs.name, [vmp, rs] %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-3 medium-6 small-12 columns">
              <%= cache ["footer-col-3", Date.today, I18n.locale] do %>
                <h6 class="subheader"><%= t('harman_brands') %></h6>
                <ul>
                  <% all_brands.each do |brand| %>
                    <li><%= link_to brand.name, brand %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="large-3 medium-6 small-12 columns">
              <%= cache ["footer-col-4", Date.today, I18n.locale] do %>
                <h6 class="subheader"><%= t('connect_with_us') %></h6>
                <iframe src="http://www2.amx.com/l/18552/2016-02-16/9zs2wb" frameborder="0" width="99%" height="100" marginwidth="0" class="iframe-form" seamless="seamless"></iframe>
              <% end %>
              <div class="social-links">
                <%= link_to "https://www.facebook.com/HarmanInt?_rdr=p" do %>
                  <%= fa_icon 'facebook 2x' %>
                <% end %>
                <%= link_to "https://twitter.com/Harman" do %>
                  <%= fa_icon 'twitter 2x' %>
                <% end %>
                <%= link_to "https://www.linkedin.com/company/harman-international" do %>
                  <%= fa_icon 'linkedin 2x' %>
                <% end %>
                <%= link_to "https://www.youtube.com/user/HarmanIntl" do %>
                  <%= fa_icon 'youtube 2x' %>
                <% end %>
                <%= link_to "https://www.pinterest.com/harmanint/" do %>
                  <%= fa_icon 'pinterest 2x' %>
                <% end %>
                <%= link_to "https://plus.google.com/+HarmanIntl/videos" do %>
                  <%= fa_icon 'google-plus 2x' %>
                <% end %>
              </div>
            </div>
            <div class="small-12 columns sub-footer">
              <p>
                &copy; <%= Date.today.year %> HARMAN International.
                <%= t('all_rights_reserved') %>.
                <%= link_to t('privacy_policy'), "http://www.harman.com/privacy-policy" %>
                |
                <%= link_to t('terms_of_use'), "http://www.harman.com/terms-use" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%= javascript_include_tag "application" %>
    <%= render 'shared/marketing_tracking' %>
  </body>
</html>
