<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %>Harman Professional</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
          <h1><a href="/"><%= image_tag "harman-logo.png", alt: "Harman Professional Audio, Video, Lighting and Control Systems", id: "logo" %></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <%= cache ["top-nav", Date.today] do %>
              <%= top_vertical_market_navigation(dropdowns: false) %>
              <li class="has-dropdown">
                <a href="#" class="disabled">Resources</a>
                <ul class="dropdown">
                  <li><%= link_to "Training", training_path %></li>
                  <li><%= link_to "Consultants", consultant_portal_path %></li>
                  <li><%= link_to "Contacts", contacts_path %></li>
                </ul>
              </li>
              <% if SiteSetting.where(name: "store_link").exists? %>
                <li class="divider"></li>
                <li class="has-form"><%= link_to "Shop", SiteSetting.value("store_link"), target: "_blank", class: "radius button" %></li>
              <% end %>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>

    <div class="container footer">
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <div class="row">
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-1", Date.today] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length > 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.children.each do |v| %>
                        <li><%= link_to v.name, v %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-2", Date.today] do %>
                <% VerticalMarket.parent_verticals.each do |vmp| %>
                  <% if vmp.children.length <= 0 %>
                    <h6 class="subheader"><%= vmp.name %></h6>
                    <ul>
                      <% vmp.reference_systems.each do |rs| %>
                        <li><%= link_to rs.name, [vmp, rs] %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <%= cache ["footer-col-3", Date.today] do %>
                <h6 class="subheader">Harman Brands</h6>
                <ul>
                  <% all_brands.each do |brand| %>
                    <li><%= link_to brand.name, brand %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-footer text-center">
      &copy; <%= Date.today.year %> <%= link_to "HARMAN", "http://www.harman.com", target: "_blank" %>.
      All rights reserved.
      &bull;
      <%= link_to "Privacy Policy", privacy_policy_path %>
      &bull;
      <%= link_to "Terms of Use", terms_of_use_path %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= render 'shared/marketing_tracking' %>
  </body>
</html>
