<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row sticky">
      <div class="small-12 columns">
        <div class="row">
          <div class="medium-6 columns">
            <h1 class="logo">
              <a href="http://www.harman.com"><%= image_tag "logo.png", alt: t('logo_alt_text'), id: "logo", class: 'no-resize' %></a>
              <small><a href="/">PROFESSIONAL SOLUTIONS</a></small>
            </h1>
          </div>
          <div class="medium-6 columns">
            &nbsp;
          </div>
        </div>

        <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">
            <ul>
              <%= cache ["top-nav", Date.today, I18n.locale] do %>
                <%= top_vertical_market_navigation(dropdowns: false) %>
                <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('nav.resources') %></a>
                  <ul class="dropdown">
                    <li><%= link_to t('nav.media_library'), "/medialibrary", target: "_blank" %></li>
                    <li><%= link_to t('nav.training'), training_path %></li>
                    <% if SiteSetting.set?("show_events") %>
                      <li><%= link_to t('nav.events'), events_path %></li>
                    <% end %>
                    <li><%= link_to t('nav.consultants'), consultant_portal_path %></li>
                    <li><%= link_to t('nav.contacts'), contacts_path %></li>
                    <li><%= link_to t('nav.service'), service_path %></li>
                  </ul>
                </li>
                <% if SiteSetting.set?("blog_link_name") && SiteSetting.set?("blog_link") %>
                  <li>
                    <%= link_to SiteSetting.value("blog_link_name"), SiteSetting.value("blog_link"), target: "_blank" %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </section>
          <section class="top-bar-section">
            <ul class="right">
              <% if SiteSetting.set?("store_link") %>
                <li class="has-form"><%= link_to t('nav.shop'), SiteSetting.value("store_link"), target: "_blank", class: "radius button" %></li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
    </div>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <br/>
        <div class="row">
          <div class="large-12 medium-12 columns">
            <div data-alert class="alert-box radius <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
              <%= content_tag :div, msg %>
              <a href="#" class="close">&times;</a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <div id="main">
          <%= yield %>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="container footer">
              <div class="row">
                <div class="small-2 columns">
                  <%= link_to "http://www.harman.com/regions", class: "btn" do %>
                    <%= image_tag "USA.png", alt: "Regions" %>
                  <% end %>
                </div>
                <div class="small-10 columns text-right footer-nav">
                  <a href="http://www.harman.com/careers">Careers</a>
                  <a href="http://www.harman.com/contact-us">Contact</a>
                  <a href="http://www.harman.com/sitemap">Sitemap</a>
                  <a href="http://www.harman.com/news">News</a>
                  <a href="http://www.developer.harman.com/">Developer Community</a>
                </div>
              </div>
              <div class="row text-right">
                <div class="medium-12 columns social-links">
                  <%= link_to "https://www.facebook.com/HarmanInt?_rdr=p" do %>
                    <%= fa_icon 'facebook 2x' %>
                  <% end %>
                  <%= link_to "https://twitter.com/Harman" do %>
                    <%= fa_icon 'twitter 2x' %>
                  <% end %>
                  <%= link_to "https://www.linkedin.com/company/harman-international" do %>
                    <%= fa_icon 'linkedin 2x' %>
                  <% end %>
                  <%= link_to "https://www.youtube.com/user/HarmanIntl" do %>
                    <%= fa_icon 'youtube 2x' %>
                  <% end %>
                  <%= link_to "https://www.pinterest.com/harmanint/" do %>
                    <%= fa_icon 'pinterest 2x' %>
                  <% end %>
                  <%= link_to "https://plus.google.com/+HarmanIntl/videos" do %>
                    <%= fa_icon 'google-plus 2x' %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns copyright">
                    &copy; <%= Date.today.year %>
                    HARMAN International.
                    <%= t('all_rights_reserved') %>.
                    <%= link_to t('privacy_policy'), "http://www.harman.com/privacy-policy"%>
                    |
                    <%= link_to t('terms_of_use'), "http://www.harman.com/terms-of-use" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <%= javascript_include_tag "application" %>
    <%= render 'shared/marketing_tracking' %>
  </body>
</html>
